/*Author: Hassan Kobeissi - 300847239;
FileName;about.css - intended for about.html;
FileDescription: Styling my photo and my logo
WebSiteName: AssignmentTwo;*/

/*Section Header - Styling*/
.Me {
  padding-left: 700px;
}
.Snapchat {
    padding-left: 920px;
}
.SimpleIntro {
    text-align: center;
}
.about {
  
    }
