/*Author: Hassan Kobeissi - 300847239;
FileName;projects.css intended for projects.html;
FileDescription: ScreenShot Styling;
WebSiteName: AssignmentTwo;*/

/*Section Header - Styling*/
.Scr {
		width: 500px; padding-left: 0px;
}
.Scr2 {
	width: 500px; padding-left: 0px;
	}
	.Scr3 {
		width: 500px; padding-left: 0px; 
	}
	.Scr4 {
		width: 500px; padding-left: 0px;
	}
    /**/